.logo{
    display: block;
    margin: auto;
    height: 60px;
    width: 60px;
}
body{
   
    background-image: url('bg1.jpg');
       height: 100vh;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
   color:white;
    font-size: xx-large;
    font-weight: bold;
   
    
}
.container{
    max-width: 60vw;
    width: 50vw;
    margin: auto;
    height: 60vh;
    overflow-y: auto;
    padding: 33px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 7px 7px rgb(7, 1, 1);
   
    background-image: url('bg2.jpg');
}
#logo{
    height: 100px;
    width: 100px;
}

.message{
background-color: darkgray;
text-align: left;
width: 25%;

color: rgb(1, 4, 7);
padding: 15px;
margin: 17px 12px;
border: 2px solid black;
border-radius: 40px;
font-size: larger;
font-family:'Times New Roman', Times, serif;
}
.left{
float: left;
clear: both;
padding-left: 20px;
font-size: larger;
}
.right{
    float: right;
    clear: both;
    font-size: larger;
    padding-left: 20px;
}
#sendcontainer{
   text-align: center;
   max-width: 985px;
   width: 100%;
display: block;
margin:auto;
}
#messageinp{
    width: 70%;
    border: 2px solid black;
    border-radius: 40px;
    height: 35px;
    font-size: larger;
    padding-left: 10px;
}
.btn{
    cursor: pointer;
    width: 10%;
    border: 2px solid black;
    height: 40px;
    border-radius: 40px;
}
.btn:hover{
    text-decoration: underline;
}